h3 {
  font-size: 35px;
  color: #0B2161;
  font-family: 'Source Sans Pro', sans-serif;
}

p {

  color: #2E2E2E;
  font-family: 'Open Sans', sans-serif;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #0B2161;
  color: #F2F2F2;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-align: left;
  padding: 10px;
  border: 1px solid #dddddd;
}

td {
  font-family: 'Open Sans', sans-serif;
  color: #2E2E2E;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}
